.login-page {
  width: 100%;
  min-height: 100vh;
  background: #333;
}

.login-page form {
  text-align: center;
  padding: 50px;
  background: #fff;
}

.login-page form,
.login-page .loading {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
